@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import 'tailwindcss';

body, html, .main-content, .sidebar, .font-sans {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}

span {
    font-family: unset !important;
}

.material-icons-round {
    font-family: 'Material Icons Round' !important;
}